@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Bebas+Neue&family=Roboto:ital,wght@0,400;1,400&display=swap');
#content { max-width: 1600px; margin: 0 auto;}





/* Header css -------------------------------------*/
 #background {
    height: 725px;
    background-color: rgb(215, 182, 155);
    grid-column: 1 / 11;
    grid-row: 4 / 9;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav a {
    text-align: center;
    color: rgb(245, 243, 243);
    text-decoration: none;
    padding: 35px;
}
body {
    background-color: #fcfbfb;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #E85D04;
    display: grid;
    grid-template-columns: 150px auto;
    justify-self: center;
    align-self: center;
    grid-column: 1/2;
    margin-top: 100px;
    position: -webkit-sticky !important;
	  position: sticky !important;
	  top: 0;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}
#message-us-now {
  text-align: center;
}
.button-box {
  text-align: center;
  background-color: coral;
  color:rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: coral;
    color:black;
}
#who-are-we {
  background-color: rgb(235, 226, 219);
  grid-column: 1 / 11;
  grid-row: 4 / 9;
}

/* css footer----------------------------*/

footer {
    background-color: #E85D04;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    text-align: center;
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: black;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
  padding-top: 15px;
  max-width: 50px;
}

/* css footer----------------------------*/


 main section{
    text-align: center;
 }
.logo{
    width: 90px;
}

main section img{
    box-sizing: border-box;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}


/* css footer----------------------------*/

/*Box for Contact us----------------------------------*/

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  form li + li {
    margin-top: 1em;
  }

  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }

  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
  }

  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }

  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
  }

  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }

  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
  /*contact us box*/
  #feedback {
      background-color: antiquewhite;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: .5em;
      /* make this element invisible until we are ready for it */
      display: none;
  }
  .moveDown {
      margin-top: 3em;
  }
  .delta-grid {
    display: block;
    height: auto;
  }

  .card-img{
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
  }
  .delta-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img .mountains {
  width: 100%;
}
.vacum-row, .floorcleaning, .floorcleaning1 {
  margin: 200px 0;
}

.vacum-row, .floorcleaning, .floorcleaning1 {
  margin: 50px auto;
  width: 60%;
}
.vacum-row {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}
.floorcleaning {
  grid-column: 5 / 7;
  grid-row: 2 / 3;
}
.floorcleaning1 {
  grid-column: 8 / 10;
  grid-row: 2 / 3;
}
  /*Box for Contact us----------------------------------*/

.slider {
  width: 100%;
  height: 510px;
  position: relative;
}

.slider img {
  width: 100%;
  height: 500px;
  position: absolute;
  left: 100px;
  top: 150px;
}

.slider img:first-child {
  z-index: 1;
}

.slider img:nth-child(2) {
  z-index: 0;
}
.navigation-button {
  text-align: center;
  position: relative;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active,
.dot:hover {
  background-color: #717171;
}
/*Style for the main webside----------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue', sans-serif;
}

.msg h1{
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 5em;
    margin-top: 10px;
    color: #E85D04;
}

.msg p{
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  font-size: 2em;
  text-align: center;
  color: #03071E;
  /* width: 75%; */
}
.msg1 h2{
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 5em;
    margin-top: 10px;
    color: #E85D04;
 }

 .msg1 p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2em;
    padding: 15px;
 }

 .fam_lop{
  width: 45%;
  grid-column: 2 / 7;
  grid-row: 5 / 8;
  box-shadow: 5px 5px 10px #6f7364
 }

/*-------------------------------------------------/*
 /*Slideshow CSS from "w3schools"*/
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 3000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
 /*-------------------------------------------------*/
/*PARALLAX scrolling effect contact us page---------*/

.parallax-background {
background-image: url("../Images/parallaximg.jpeg");
background-attachment: fixed;
background-position: center;
background-size: cover;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


.jan-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, 1fr)
}

.services h1 {
  grid-column: 2/4;
  grid-row: 2;
}
.services p {
  grid-column: 2/5;
  grid-row: 3/4;
}

.service1 {
  grid-column: 5/9;
  grid-row: 2/6;
}
.service2 {
  grid-column: 7/11;
  grid-row: 4/7;
}
 
.weserve h2{
  grid-column: 2/4;
  grid-row: 2;
}
.weserve ul{
  grid-column: 2/5;
  grid-row: 3/4;
}


.service1, .service2 {
  border: 2px solid #e27c17; /* Border style and color */
  border-radius: 4px; /* Border corner radius */
  padding: 4px; /* Space between the image and the border */
}
.service3 {
  grid-column: 5/9;
  grid-row: 2/5;
}
img {
  width: 100%;
}

/* this is with Gio */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Two columns, first column occupies 1/3 of the width, second column occupies 2/3 of the width */
  gap: 20px; /* Add some spacing between the columns */
  align-items: center; /* Center the items vertically */
}

.grid-container img {
  max-width: 100%;
  height: auto;
}

.title_picture{
  display: flex;
  flex-direction: column;
  align-items: center;
}


  /* Grid container */
  .grid-container2 {
    margin-top: 30px;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-gap: 30px; /* Add some spacing between the rows and columns */
  }

  /* Styles for each row */
  .grid-row {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    grid-gap: 20px; /* Add some spacing between the columns */
    align-items: center; /* Center the items vertically */
  }

  /* Styles for the images */
  .grid-container2 img {
    max-width: 100%;
    height: auto;
  }
  .chat-popup{
    margin-top: 30px;
  }
#content { 
  max-width: 100%; 
  margin: 0 auto;
}

.Contact_Us{
  margin-top: 60px;
}
.Thank_you_for_your_inquiry h2, h3{
  color: white;
}
.Thank_you_for_your_inquiry h2{
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  height: 50vh;
  align-items: center;
}

.Thank_you_for_your_inquiry label{
  color: #e85d04;
  font-weight: bolder;
}

.Thank_you_for_your_inquiry form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #e85d04;
  border-radius: 1em;
}